/*version 2.0.2*/
@charset "utf-8"; 

/* 
	border - #367bf6, background - #e6eaff 
	border - #333, background - #dbdbe2
*/

/*
 * 2021/07/29 GEONLEE setOnClickRow 함수 / onClickRow 옵션이 있을 경우 클릭한 행의 색을 변경하는 코드 추가/ css도 추가 ag_sel_row
*/

.ag_grid{width:100%; font-size:1.4rem; color:#222; position:relative;}/*그리드 내 폰트 사이즈와 색상 기본설정 변경할것*/
.ag_grid table {width:100%; text-align:center;}

/*컬럼고정*/
/* .ag_fixed_header{position:fixed; background-color:#9296a0; left:10px;} */
/* .ag_fixed_col{position:fixed; background-color:white; left:10px;} */

/*검색*/
fieldset.ag_search{width:100%; background:#f0f0f0; border:1px solid #c2c2c2; /* border-radius:5px;  */padding:10px 15px; margin-bottom:10px;}
fieldset.ag_search input, fieldset.ag_search select, fieldset.ag_search button {height:35px; border:1px solid #c2c2c2; /* border-radius:5px; */} 
fieldset.ag_search button + button {margin-left:3px;}
fieldset.ag_search select{width:200px; margin:0px 5px 0 0;}
fieldset.ag_search input[type="text"]{margin:0px 5px 0 0; padding:6px 8px; width:300px;}
fieldset.ag_search .ag_btn_wrap {display:inline-block;}
fieldset.ag_search:not(.multi) .ag_btn_wrap {float:right;} 
/* 멀티 검색 */
fieldset.ag_search.multi {background:#f0f0f0; position:relative; display: flex; flex-direction: column; justify-content: space-between; padding: 0 10px; overflow: hidden;}
fieldset.ag_search.multi>div {display:flex; padding: 10px 5px;}
fieldset.ag_search.multi>div.ag_frm {flex-wrap: wrap;}
fieldset.ag_search.multi>div.ag_frm span{margin: 10px 15px 0 0; position:relative;}
fieldset.ag_search.multi>div.ag_frm span label {position: absolute; top: -8px; left: 5px; background: linear-gradient(180deg, #f0f0f0 54%, #ffffff 56%); padding: 0 5px;}
fieldset.ag_search.multi>div.ag_frm span input, fieldset.ag_search.multi>div.ag_frm span select {/* border-radius:5px;  */height:40px; min-width:150px; padding:5px 10px 3px;}
fieldset.ag_search.multi>div.ag_frm span input::placeholder{font-size:85%; color:#aaa;}
fieldset.ag_search.multi>div.ag_smr {flex-direction:row-reverse; justify-content: space-between; margin-right:30px; position:relative;}
fieldset.ag_search.multi .ag_kwd_wrap {display: flex; max-width: 49%; margin-right: 10px; overflow-x: auto;}
fieldset.ag_search.multi .ag_kwd_wrap div {padding: 5px 8px 5px 10px; margin-right:5px; height:30px; border-radius: 15px; min-width: fit-content; background: #fff;}
fieldset.ag_search.multi .ag_kwd_wrap span{line-height:22px; font-size: 88%; margin-right:10px;}
fieldset.ag_search.multi .ag_kwd_wrap span em{font-weight: 600; margin-left:5px;}
fieldset.ag_search.multi .ag_kwd_wrap a{position:relative; display: inline-block; top:-14px; left:0; width:10px; height:10px; font-size:0; transition-duration:0.2s;}
fieldset.ag_search.multi .ag_kwd_wrap a::before, .ag_smr .ag_kwd_wrap a::after{content:""; position: absolute; display: inline-block; top:4px; left:1px; width:1.4px; height:12px; background:#555; transition: transform 0.2s;}
fieldset.ag_search.multi .ag_kwd_wrap a::before{transform:rotate(45deg);}
fieldset.ag_search.multi .ag_kwd_wrap a::after{transform:rotate(-45deg);}
fieldset.ag_search.multi .ag_kwd_wrap a:hover::before{transform:rotate(135deg);}
fieldset.ag_search.multi .ag_kwd_wrap a:hover::after{transform:rotate(45deg);}
/* fieldset.ag_search.multi .ag_kwd_wrap a:hover::before{transform: rotate(90deg);} */
/* fieldset.ag_search.multi .ag_kwd_wrap a:hover::after{transform: rotate(90deg);} */
fieldset.ag_search.multi .ag_btn_wrap {min-width: fit-content;}
fieldset.ag_search.multi .ag_fold_btn {position:absolute; top:18px; right:12px; width:20px; height:20px; background:url(../image/arrow_top_b.png) center; background-size: cover; transition:transform .2s linear;}
fieldset.ag_search.multi.fold .ag_fold_btn {transform:rotate(180deg);}
fieldset.ag_search.multi.fold .ag_frm {display:none; transition: display 0.2s;}

/*Grid-Wrap*/
.ag_table_scroll{overflow-x:auto; position: relative;}
.ag_table{position:relative; width:100%; background:#FFF; height:auto;}
::-webkit-scrollbar{width: 8px; height:8px;}
::-webkit-scrollbar-track{background-color:#f1f1f1;}
::-webkit-scrollbar-thumb{background-color:#9296a0; border-radius: 15px; width:3px;}
::-webkit-scrollbar-thumb:hover{background: #555;}
::-webkit-scrollbar-button:start:decrement{display:block; width:16px; height:16px; background:#f0f0f0 url(../image/scroll_bg.png) no-repeat -3px 0;}
::-webkit-scrollbar-button:end:increment{width:16px; height:16px; background:#f0f0f0 url(../image/scroll_bg.png) no-repeat -20px 0;}

/*Grid-Table*/
.ag_table_scroll td, .ag_dragDiv td {border-right:1px solid #c2c2c2; padding:10px 5px; vertical-align:middle; text-align:center; overflow:hidden;}
.ag_body_table thead {height: 0; overflow: hidden; position: absolute;}
.ag_body_table tfoot {overflow:hidden; background-color:#E6E6E6; border-top: thick double #c2c2c2;}
.ag_grid_header td, .ag_body_table td{-ms-user-select: none;-moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}
.ag_table_scroll .ag_sel_row {background-color:#FADADA;}

/*Drag-Table*/
.ag_tableHeader{cursor:move}
.ag_dragDiv {padding:2px 8px; border:1px solid #000; position:absolute;}
.ag_dragDiv .ag_grid_header_tr{background:rgba(0,0,0,0.4);}
.ag_dragDiv .ag_body_row{background:rgba(0,0,0,0.2);}
.ag_grid_header .ag_dragging {background: rgba(165,215,230,0.8);} 
.ag_grid_header .ag_hovering {background:rgba(0,0,0,0.3);}

/* Header */
/*.ag_header{border-bottom:1px solid #666; border-top:1px solid #666; margin-top:10px; overflow-x: hidden; font-size:110%;}*/
.ag_header{border-bottom:1px solid #666; border-top:1px solid #666; margin-top:0px; overflow-x: hidden; font-size:110%;}
.ag_grid_header tr{background:#f0f0f0; /*border:1px solid #c2c2c2;*/ border-top:1px solid #c2c2c2;}

.ag_grid_header td div.asc, .ag_grid_header td div.desc{position:relative;}
.ag_grid_header td div.asc::after{content:""; position:absolute; top:0px; width:10px; height:13px; margin:0 0 0 6px; background:url('../image/ag_sprite_bg.png') no-repeat -10px 0;}
.ag_grid_header td div.desc::after{content:""; position:absolute; top:0px; width:10px; height:13px; margin:0 0 0 6px; background:url('../image/ag_sprite_bg.png') no-repeat 0 0;}
.ag_header_td_end{width:8px;}
/*Grid-Checkbox*/
.ag_header_chk, .ag_body_chk{position: relative; width:40px; color:#181818;}
.ag_header_chk {vertical-align:baseline !important;}
.ag_header_td_chk_div, .ag_body_row_chk_div{height:20px; user-select: none;}
.ag_header_chk .ag_header_td_chk_div::after{background-position:0 20px;}
.ag_header_chk input[type="checkbox"], .ag_body_chk input[type="checkbox"]{position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}
.ag_header_chk label, .ag_body_chk label{display: inline-block; position: relative; height: 20px; width: 20px; background: #eee; cursor: pointer; border:1px solid rgba(0,0,0,0.1);}
.ag_header_chk input:hover ~ label, .ag_body_chk input:hover ~ label{background: #ccc;}
.ag_header_chk input:checked ~ label, .ag_body_chk input:checked ~ label{background:#367bf6;}
.ag_header_chk label:after, .ag_body_chk label:after{content: ""; position: absolute; display: none;}
.ag_header_chk input:checked ~ label:after, .ag_body_chk input:checked ~ label:after {display: block;}
.ag_header_chk label:after, .ag_body_chk label:after {left: 6px; top: 1px; width: 7px; height: 12px; border: solid #FFF; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
/*Grid-Tbody*/
.ag_body{width:100%; height:inherit; overflow-y:scroll; overflow-x:hidden;}
.ag_body_row {border-bottom:1px solid #c2c2c2}
.ag_body_row.ag_newLine {background:#F5F6CE}
.ag_body_row.ag_body_sel{background:rgba(254,255,204,0.8);}
.ag_body_row:hover{background:#eaecf7; cursor:pointer;}	/* rgba(254,255,204,0.8) */
.ag_body_table td {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.ag_body.fixed::-webkit-scrollbar {display:none;}
.ag_header .ag_fixedCol, .ag_body .ag_fixedCol{border-right:2px dashed rgb(146 150 160);}
/* Grid-Bottom : paging, rows, total_cnt */
.ag_page_area{display:flex; width:100%; margin-top:15px;} /* justify-content:center; */
.ag_paging{display:flex; justify-content:space-between; align-items:center;}
.ag_page_number{color:#999; font-weight:300; margin-right:8px; cursor:pointer;}
.ag_page_number+.ag_next_page{margin-left:6px;}
.ag_page_number.curr{color:#3c3b3b; font-weight:500; text-decoration:underline;}
.ag_first_page, .ag_before_page, .ag_next_page, .ag_last_page{position:relative; width:30px; height:30px; display:inline-block; background:#FFF; border:1px solid #dadada; font-size:0px; cursor:pointer; }
.ag_before_page{margin:0 15px 0 5px;}
.ag_next_page{margin:0 5px 0 15px;}
.ag_first_page::after, .ag_before_page::after, .ag_next_page::after, .ag_last_page::after{content:""; position:absolute; top:7px; left:7px; width:15px; height:15px; background:#FFF url(../image/ag_sprite_bg.png) no-repeat }
.ag_first_page::after{background-position: -65px 0px;}
.ag_before_page::after{background-position: -82px 0px;}
.ag_next_page::after{background-position: -96px 0px;}
.ag_last_page::after{background-position: -112px 0px;}
.ag_first_page:hover::after{background-position: -65px -18px;}
.ag_before_page:hover::after{background-position: -82px -18px;}
.ag_next_page:hover::after{background-position: -96px -18px;}
.ag_last_page:hover::after{background-position: -112px -18px;}
.ag_total_cnt{height: 32px; line-height: 22px; border: 1px solid #eee; background: #eee; padding: 5px 10px; margin-left: 10px}
.ag_rows{padding:3px 5px; margin-left: 10px;}

/*Grid_View*/
.ag_tbl_view{width:100%; border-top:1px solid #c2c2c2; border-spacing:0;}
.ag_tbl_view tr{border-bottom:1px solid #c2c2c2;}
.ag_tbl_view th{width:30%; background:rgba(0,0,0,0.04); text-align:center; border-right:1px solid #c2c2c2; padding:10px 0;}
.ag_tbl_view td{text-align:left; padding:5px 10px;}
.ag_tbl_view td input{width:100%;}

/*Modal Popup*/
.ag_modal_bg{position:fixed; top:0px; left:0px; width:100%; height:100%; background:rgba(0,0,0,0.8);}
.ag_modal{position:relative; max-width:600px; background:#fff;  margin:45px auto 0; overflow:hidden; border-radius:5px; padding:15px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);}
.ag_modal_title{display:flex; width:100%; margin:8px 0 12px;}
.ag_modal_title h1{margin-right:auto; font-size:1.8rem; font-weight:700;}
.ag_modal_title a{margin-left:auto; display:block; font-size:0px; width:18px; height:18px; float:right; background:url(../image/ag_sprite_bg.png) no-repeat -45px -41px; transition-duration:0.5s;}
.ag_modal_title a:hover{transform:rotate(90deg);}
.ag_modal .ag_btnArea{clear:both; float:right; margin-top:15px;} 

.ag_before, .ag_after{position:absolute; top:45%; width:40px; height:40px; background:rgba(0,0,0,0.15); border-radius:50%;text-align:center; cursor:pointer; font-size:0;}
.ag_before{left:15px;}
.ag_before::before{content:""; display:block; width:15px; height:15px; background:url(../image/ag_sprite_bg.png) no-repeat -133px -16px; margin:12px 0 0 10px}
.ag_after{right:15px;}
.ag_after::before{content:""; display:block; width:15px; height:15px; background:url(../image/ag_sprite_bg.png) no-repeat -133px 0px; margin:12px 0 0 15px}
.ag_before:hover, .ag_after:hover{width:50px; line-height:40px; background:rgba(0,0,0,0.3); color:#FFF;  font-size:1.5rem; transition-duration: 0.3s, 0.5s; border-radius:0px; }
.ag_before:hover::before, .ag_after:hover::before{display:none;}

/*Button*/
.ag_btn{border: 1px solid #c2c2c2; padding:5px 20px; font-weight:700; background:#fff; color:#666;}
.ag_btn::before{content:""; display:inline-block; width:23px; height:20px; margin-right:5px; background:url('../image/icon_btn.png') no-repeat; vertical-align:middle;}
.ag_btn.basic::before{display:none;}
.ag_btn.search::before{background-position:-1px -16px;}/* 검색 */
.ag_btn.excel::before{background-position:-26px -16px;}/* 엑셀 다운로드 */
.ag_btn.plus::before{background-position:-54px -16px;}/* 추가 */
.ag_btn.edit::before{background-position:-83px -16px;}/* 수정 */
.ag_btn.save::before{background-position:-109px -16px;}/* 저장 */
.ag_btn.cancel::before{background-position:-131px -16px;}/* 취소 */
.ag_btn.delete::before{background-position:-157px -16px;}/* 삭제 */
.ag_btn.upload::before{background-position:-183px -16px;}/* 업로드 */
.ag_btn.reset::before{background-position:-213px -16px;}/* 리셋 */
.ag_btn.print::before{background-position:-240px -16px;}/* 프린트 */
.ag_btn.confirm::before{background-position:-261px -16px;}/* 승인 */
.ag_btn.check::before{background-position:-283px -16px;}/* 체크 */
.ag_btn.msg::before{background-position:-309px -16px;}/* 메시지 */
.ag_btn:hover {background:#666; color:#fff;}
.ag_btn:hover::before {background-position-y:-80px;}

/*NoData*/
.nodata{position:relative; width:100%; height:410px; opacity: 0.2;}
.nodata::before{content:""; position:absolute; top: 50px; left: calc(50% - 64px); width:128px; height:128px; background:url( ../image/no_info.png) no-repeat; background-size:cover;}
.nodata::after{content:"No matching items found"; position:absolute; top:200px; left:calc(50% - 167px); color:#444; font-size:3rem; /* font-style:italic; */}
/* Check the filter settings */

/*Loading*/
.loading{position:relative; overflow:hidden; border-bottom:1px solid #c2c2c2;}
.loading::before{content:"Now loading"; display:block; position:absolute; top:180px; left:calc(50% - 40px); text-align:center; font-size:1.8rem; color:#444; letter-spacing:-0.1em;}
.loading::after{content:""; display:block; position:absolute; left: calc(50% - 90px); width:180px; height:180px; margin:107px auto; border-radius:50%; border:32px solid #c2c2c2;; border-top-color:transparent; animation:rotate 2s linear infinite;}

@keyframes rotate {
to {transform:rotate(360deg);}
}

.light fieldset.ag_search {background:#fff; /* #e6eaff; */ border:1px solid #367bf6;}
.light fieldset.ag_search.multi >div.ag_frm span label {background: #fff/* linear-gradient(180deg, #e6eaff 54%, #ffffff 56%) */;}
.light fieldset.ag_search input, .light fieldset.ag_search select, .light fieldset.ag_search button{border:1px solid #367bf6;}
.light fieldset.ag_search.multi .ag_kwd_wrap div {background: #e6eaff;}
.light fieldset.ag_search .ag_btn {color:#367bf6;}
.light fieldset.ag_search .ag_btn::before {background-position-y:-49px;}
.light fieldset.ag_search .ag_btn:hover{background:#367bf6; color:#fff; box-shadow:none;}
.light fieldset.ag_search .ag_btn:hover::before{background-position-y:-80px;}
.light .ag_grid_header tr{background:none;}
.light .ag_body_row:hover{background:#e6eaff;}
.light .ag_total_cnt{background:none; border:1px solid #e6eaff;}

/* .ag_grid.dark, .dark fieldset.ag_search, .dark .ag_grid_header tr, .dark .ag_body tr {background:#222325; border:1px solid #aaa; color:#fff;} */
/* .dark fieldset.ag_search.multi >div.ag_frm span label {background: linear-gradient(180deg, #222325 54%, #ffffff 56%)} */
/* .dark fieldset.ag_search input, .light fieldset.ag_search select, .light fieldset.ag_search button{border:1px solid #367bf6;} */
/* .dark fieldset.ag_search .ag_btn {color:#222325;} */
/* .dark fieldset.ag_search .ag_btn:hover{background:#aaa; color:#fff; box-shadow:none;} */
/* .dark fieldset.ag_search .ag_btn:hover::before{background-position-y:-80px;} */
/* .dark .ag_body_row:hover{background:rgba(165,215,230,0.8);} */


/*edit-detail 관련 나중에 plugin css로 옮겨야함*/
/*디테일 table*/
.ag_table_scroll.detailOn {display:flex; justify-content: space-between;}
.ag_table_scroll.detailOn .ag_table {width:60%;}
.ag_table_scroll.detailOn .ag_table_detail {width:38%;}
/* .ag_table_scroll.detailOn >div:first-child {width:60%;} */
/* .ag_table_scroll.detailOn >div:last-child {width:38%;} */
.ag_table_scroll:not(.detailOn) .ag_table_detail{display:none;}
.detailOn .ag_table_detail{position:relative; margin-top: 10px; padding:35px 60px 35px 40px; vertical-align:top; border:1px solid #eee; box-shadow: -1px -1px 5px 5px #f0f0f0;}
.detailOn .ag_table_detail >div:nth-child(2){max-height:calc(100% - 70px); overflow-y: auto;}
.detailOn .ag_table_detail th{width:25%; vertical-align:middle; text-align:center; word-break: break-all;}
.detailOn .ag_table_detail td{border-right:0;}
.detailOn .ag_table_detail th, .detailOn .ag_table_detail td, .detailOn .ag_table_detail textarea  {padding:5px 10px;}
.detailOn .ag_table_detail input, .detailOn .ag_table_detail select{padding: 5px 10px; height:35px;}
.detailOn .ag_table_detail .ag_btn_wrap {position:absolute; bottom:0; right: 0; padding: 10px 70px 35px;}
.detailOn .ag_table_detail .ag_btn_wrap button {height:35px; border:1px solid #c2c2c2;}
.detailOn .ag_table_detail .ag_btn_wrap button + button {margin-left:10px;}
.detailOn .ag_table_detail .ag_dtl_title{position:flex; font-weight:600; font-size:1.8rem; height:25px; margin-bottom:10px;}
